
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  background: white;

}

.radio {
  max-width: 60em;
}

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;  
  position: absolute;
  margin-top: 115px;
  margin-left: 95px;
  font-size: 1.2rem;
  padding: 20px;
  z-index: 500;
}

.station {
  width: 230px;
  height: 140px;
  margin-left: 399px;
  margin-top: 305px;
  background-color: rgb(242, 242, 110);
  font-size: 1.5rem;
  border: 2px solid rgb(9, 9, 9);
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 300;

}

.stationName {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  width: 100%;
  align-items: left;
}

.name {
  font-size: .5em;
  color: blueviolet;
  line-height: 1.3em;
  width: 70%;
  text-align: left;
}

.stationName img {
  display: block;
  width: 2.5em;
  height: 2.5em;
  border-radius: 10%;
  border: 2px solid rgb(76, 62, 95);
  margin: 0 0.25em;
}

audio {
  width: 100%;
}

.rhap_container.player {
  background-color: rgb(255, 9, 239);
  display: flex;
  justify-items: center;
  padding: 0.25em 0.75em;
  border-radius: 10px;
}

.rhap_stacked .rhap_controls-section {
  margin-top: 0 !important;
}

.rhap_controls-section .rhap_volume-controls {
  justify-content: center;
}

.rhap_controls-section .rhap_main-controls button[aria-label="Play"] svg path {
  fill: rgb(14, 251, 255) !important;
}

.rhap_main-controls button:active {
  background-color: #941985;
  box-shadow: 0 5px rgb(65, 63, 63);
  transform: translateY(4px);
}

.rhap_controls-section .rhap_main-controls button[aria-label="Pause"] svg path {
  fill: #5d5d5d !important;
}

.navbuttons {
  position: absolute;
  margin-left: 500px;
  margin-top: 25px;
  padding-left: 4em;
  z-index: 600;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
}

.headerContainer {
  display: inline-flex;
  justify-content: left;
  margin-left: 20px;
}
.homebutton{
  color: rgb(250, 5, 242);
  padding-right: 10px;
  text-decoration: none;
}

.subscribebutton{
  color: rgb(103, 4, 190);
  padding-right: 10px;
  text-decoration: none;
}

.inspirationbutton{
  color: rgb(4, 220, 220);
  padding-right: 10px;
  text-decoration: none;
}

.imageGallery {
  display: block;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 60px;
}

.previousButton{
  background-color: aqua;
  font-family: 'VT323', monospace;
  font-size: 1.3em;
  margin: 10px;
border-style: none;
border-radius: 2px;
}
.nextButton{
  background-color: rgb(235, 11, 251);
  color: white;
  font-family: 'VT323', monospace;
  font-size: 1.3em;
  border-style: none;
border-radius: 2px;
}

.masterImage {
  margin-top: 50px;
}

.subscribeForm {
  margin-top: 60px;
  margin-left: 50px;
}

.Footer {
position: absolute;
bottom: 0;
width: 100%;
height: 2.3rem; 
margin-left: 85px;
font-family: 'Press Start 2P', cursive; 
font-size: .5em;  
color: deeppink;        
}