@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.stations {
  display: grid;
  font-family: 'VT323', monospace;
}



.filterButton {
  width: 85px;
  border-radius: 9px;
  z-index: 1;
  font-family: 'VT323', monospace;
  font-size: 1em;
  text-transform: capitalize;
  color: rgb(77, 9, 111);

}
.filterButton {
  background-color: rgb(91, 239, 255);
}

.filterButton:active {
  background-color: #0c3dba;
  box-shadow: 0 5px rgb(65, 63, 63);
  transform: translateY(4px);
}



.boomBox {
  position: absolute;
  top:60px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  z-index: -1;
  }

.weblogo {
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
  z-index: 500;
}

